.w_100 {
    width: 100% !important;
}

@media(min-width:600px) {
    .top_navbar {
        box-shadow: 0 0 50px gray !important;
    }

    .container {
        width: 100% !important;
    }

    #top_actions_section {
        display: flex !important;
        align-items: center !important;
    }
}

.users_list_item.active {
    background-color: rgb(128, 128, 128, 0.34);
}

.users_list_item .users_list_arrow_icon {
    transition: all 200ms ease;
}

.users_list_item.active .users_list_arrow_icon {
    transform: rotate(180deg);
}

.container {
    width: 100% !important;
}
.add_user_modal_back{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,.5);
    top: 0;
    left: 0;
    z-index: 999;
}

.add_user_modal{
    position: fixed;
    height: 70vh;
    background-color: white;
    bottom: 0;
    z-index: 1000;
    right: 0;
}